
.mouth {
    width: 50px;
    height: 10px;
    background-color: #000;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 20px;
    left: 25px;
}

.scar {
    width: 2px;
    height: 30px;
    background-color: #8B4513;
    position: absolute;
    top: 20px;
    left: 65px;
    transform: rotate(45deg);
}

.body {
    width: 80px;
    height: 120px;
    background-color: #2f3131;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.arms {
    display: flex;
    justify-content: space-between;
    width: 120%;
    position: absolute;
    top: 0px;
    left: -10%;
}

.arm {
    width: 30px;
    height: 60px;
    background-color: #7ec850;
    border-radius: 10px;
    position: relative;
}

.arm.left {
    transform: rotate(-50deg);
}

.arm.right {
    transform: rotate(90deg);
}
